<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop_dao.dao.PromotionGoodsMapper">
  <resultMap id="BaseResultMap" type="com.example.shop_dao.entity.PromotionGoods">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="goods_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="total" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="price" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="start_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="end_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="is_active" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, goods_id, total, price, start_time, end_time, is_active, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_promotiongoods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultType="com.example.shop_dao.vo.PromotionGoods">
    SELECT `t_promotiongoods`.`id` AS `promotion_id`, `t_promotiongoods`.`goods_id`, `t_goods`.`name` AS `goods_name`, `t_promotiongoods`.`total` AS `promotion_total`, `t_promotiongoods`.`price` AS `promotion_price`, `t_promotiongoods`.`start_time` AS `promotion_start_time`, `t_promotiongoods`.`end_time` AS `promotion_end_time`
    FROM `t_promotiongoods`
           LEFT JOIN `t_goods` ON (`t_promotiongoods`.`goods_id` = `t_goods`.`id`)
           LEFT JOIN `t_goodsclass` ON (`t_goods`.`class_id` = `t_goodsclass`.`id`)
    WHERE (`t_goodsclass`.`is_active` = 1 AND `t_goods`.`is_active` = 1 AND `t_promotiongoods`.`is_active` = 1)
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_promotiongoods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.shop_dao.entity.PromotionGoods">
    insert into t_promotiongoods (id, goods_id, total, 
      price, start_time, end_time, 
      is_active, create_time)
    values (#{id,jdbcType=INTEGER}, #{goodsId,jdbcType=BIGINT}, #{total,jdbcType=INTEGER}, 
      #{price,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{isActive,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.shop_dao.entity.PromotionGoods">
    insert into t_promotiongoods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="total != null">
        #{total,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.shop_dao.entity.PromotionGoods">
    update t_promotiongoods
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.shop_dao.entity.PromotionGoods">
    update t_promotiongoods
    set goods_id = #{goodsId,jdbcType=BIGINT},
      total = #{total,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      is_active = #{isActive,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="totalSub">
    UPDATE t_promotiongoods
    SET total=total-1
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>